force-app/main/default/flows/Daily_Inventory_Check_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Daily scheduled flow to check inventory levels and create stock alerts for products at or below reorder point</description>
    <label>Daily Inventory Check Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Low_Stock_Products</name>
        <label>Get Low Stock Products</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Current_Stock__c</queriedFields>
        <queriedFields>Reorder_Point__c</queriedFields>
        <queriedFields>Days_Until_Stockout__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_Existing_Alerts</name>
        <label>Check Existing Alerts</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Existing_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Products.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>In</operator>
            <value>
                <stringValue>New,Acknowledged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stock_Alert__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <loops>
        <name>Loop_Through_Products</name>
        <label>Loop Through Products</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Low_Stock_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Stock_Level</targetReference>
        </nextValueConnector>
    </loops>
    <decisions>
        <name>Check_Stock_Level</name>
        <label>Check Stock Level</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stock OK</defaultConnectorLabel>
        <rules>
            <name>Low_Stock_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Products.Current_Stock__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Products.Reorder_Point__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Alerts</targetReference>
            </connector>
            <label>Stock Low</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_Alert</name>
        <label>Has Existing Alert</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Stock_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Alert</defaultConnectorLabel>
        <rules>
            <name>Alert_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Alerts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Products</targetReference>
            </connector>
            <label>Alert Exists</label>
        </rules>
    </decisions>
    <recordCreates>
        <name>Create_Stock_Alert</name>
        <label>Create Stock Alert</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Alert_Type__c</field>
            <value>
                <stringValue>Low_Stock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Stock_Level__c</field>
            <value>
                <elementReference>Loop_Through_Products.Current_Stock__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Days_Until_Stockout__c</field>
            <value>
                <elementReference>Loop_Through_Products.Days_Until_Stockout__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Set_Priority_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Loop_Through_Products.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reorder_Point__c</field>
            <value>
                <elementReference>Loop_Through_Products.Reorder_Point__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Stock_Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <formulas>
        <name>Set_Priority_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_Through_Products.Days_Until_Stockout__c} &lt;= 1, "Critical", IF({!Loop_Through_Products.Days_Until_Stockout__c} &lt;= 3, "High", IF({!Loop_Through_Products.Days_Until_Stockout__c} &lt;= 7, "Medium", "Low")))</expression>
    </formulas>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Low_Stock_Products</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-01</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>